<li class="products-item">
  <div class="cart-product-img-container">
    <img
      src="https://ftp.goit.study/img/so-yummy/ingredients/640c2dd963a319ea671e383b.png"
      alt="Ackee"
    />
  </div>
  <div class="product-info">
    <h3 class="cart-product-name">Ackee</h3>
    <ul class="product-info-list">
      <li class="product-info-item">
        <p class="cart-category-text">
          Category:
          <span class="cart-category-name"> Fresh_Produce</span>
        </p>
      </li>
      <li class="product-info-item">
        <p class="cart-product-size">
          Size: <span class="cart-product-size-value"> 16 oz</span>
        </p>
      </li>
    </ul>
    <p class="cart-product-price">$8.99</p>
  </div>
</li>
<li class="products-item">
  <div class="cart-product-img-container">
    <img
      src="https://ftp.goit.study/img/so-yummy/ingredients/640c2dd963a319ea671e383b.png"
      alt="Ackee"
    />
  </div>
  <div class="product-info">
    <h3 class="cart-product-name">Ackee</h3>
    <ul class="product-info-list">
      <li class="product-info-item">
        <p class="cart-category-text">
          Category:
          <span class="cart-category-name"> Fresh_Produce</span>
        </p>
      </li>
      <li class="product-info-item">
        <p class="cart-product-size">
          Size: <span class="cart-product-size-value"> 16 oz</span>
        </p>
      </li>
    </ul>
    <p class="cart-product-price">$8.99</p>
  </div>
</li>
<li class="products-item">
  <div class="cart-product-img-container">
    <img
      src="https://ftp.goit.study/img/so-yummy/ingredients/640c2dd963a319ea671e383b.png"
      alt="Ackee"
    />
  </div>
  <div class="product-info">
    <h3 class="cart-product-name">Ackee</h3>
    <ul class="product-info-list">
      <li class="product-info-item">
        <p class="cart-category-text">
          Category:
          <span class="cart-category-name"> Fresh_Produce</span>
        </p>
      </li>
      <li class="product-info-item">
        <p class="cart-product-size">
          Size: <span class="cart-product-size-value"> 16 oz</span>
        </p>
      </li>
    </ul>
    <p class="cart-product-price">$8.99</p>
  </div>
</li>
<li class="products-item">
  <div class="cart-product-img-container">
    <img
      src="https://ftp.goit.study/img/so-yummy/ingredients/640c2dd963a319ea671e383b.png"
      alt="Ackee"
    />
  </div>
  <div class="product-info">
    <h3 class="cart-product-name">Ackee</h3>
    <ul class="product-info-list">
      <li class="product-info-item">
        <p class="cart-category-text">
          Category:
          <span class="cart-category-name"> Fresh_Produce</span>
        </p>
      </li>
      <li class="product-info-item">
        <p class="cart-product-size">
          Size: <span class="cart-product-size-value"> 16 oz</span>
        </p>
      </li>
    </ul>
    <p class="cart-product-price">$8.99</p>
  </div>
</li>
<li class="products-item">
  <div class="cart-product-img-container">
    <img
      src="https://ftp.goit.study/img/so-yummy/ingredients/640c2dd963a319ea671e383b.png"
      alt="Ackee"
    />
  </div>
  <div class="product-info">
    <h3 class="cart-product-name">Ackee</h3>
    <ul class="product-info-list">
      <li class="product-info-item">
        <p class="cart-category-text">
          Category:
          <span class="cart-category-name"> Fresh_Produce</span>
        </p>
      </li>
      <li class="product-info-item">
        <p class="cart-product-size">
          Size: <span class="cart-product-size-value"> 16 oz</span>
        </p>
      </li>
    </ul>
    <p class="cart-product-price">$8.99</p>
  </div>
</li>
<li class="products-item">
  <div class="cart-product-img-container">
    <img
      src="https://ftp.goit.study/img/so-yummy/ingredients/640c2dd963a319ea671e383b.png"
      alt="Ackee"
    />
  </div>
  <div class="product-info">
    <h3 class="cart-product-name">Ackee</h3>
    <ul class="product-info-list">
      <li class="product-info-item">
        <p class="cart-category-text">
          Category:
          <span class="cart-category-name"> Fresh_Produce</span>
        </p>
      </li>
      <li class="product-info-item">
        <p class="cart-product-size">
          Size: <span class="cart-product-size-value"> 16 oz</span>
        </p>
      </li>
    </ul>
    <p class="cart-product-price">$8.99</p>
  </div>
</li>
<li class="products-item">
  <div class="cart-product-img-container">
    <img
      src="https://ftp.goit.study/img/so-yummy/ingredients/640c2dd963a319ea671e383b.png"
      alt="Ackee"
    />
  </div>
  <div class="product-info">
    <h3 class="cart-product-name">Ackee</h3>
    <ul class="product-info-list">
      <li class="product-info-item">
        <p class="cart-category-text">
          Category:
          <span class="cart-category-name"> Fresh_Produce</span>
        </p>
      </li>
      <li class="product-info-item">
        <p class="cart-product-size">
          Size: <span class="cart-product-size-value"> 16 oz</span>
        </p>
      </li>
    </ul>
    <p class="cart-product-price">$8.99</p>
  </div>
</li>
<li class="products-item">
  <div class="cart-product-img-container">
    <img
      src="https://ftp.goit.study/img/so-yummy/ingredients/640c2dd963a319ea671e383b.png"
      alt="Ackee"
    />
  </div>
  <div class="product-info">
    <h3 class="cart-product-name">Ackee</h3>
    <ul class="product-info-list">
      <li class="product-info-item">
        <p class="cart-category-text">
          Category:
          <span class="cart-category-name"> Fresh_Produce</span>
        </p>
      </li>
      <li class="product-info-item">
        <p class="cart-product-size">
          Size: <span class="cart-product-size-value"> 16 oz</span>
        </p>
      </li>
    </ul>
    <p class="cart-product-price">$8.99</p>
  </div>
</li>
<li class="products-item">
  <div class="cart-product-img-container">
    <img
      src="https://ftp.goit.study/img/so-yummy/ingredients/640c2dd963a319ea671e383b.png"
      alt="Ackee"
    />
  </div>
  <div class="product-info">
    <h3 class="cart-product-name">Ackee</h3>
    <ul class="product-info-list">
      <li class="product-info-item">
        <p class="cart-category-text">
          Category:
          <span class="cart-category-name"> Fresh_Produce</span>
        </p>
      </li>
      <li class="product-info-item">
        <p class="cart-product-size">
          Size: <span class="cart-product-size-value"> 16 oz</span>
        </p>
      </li>
    </ul>
    <p class="cart-product-price">$8.99</p>
  </div>
</li>
