<section class="discount-section">
  <h2 class="discount-title">Discount products</h2>
  <!-- <div class="discount-loader-box"></div> -->
  <ul class="discount-list">
    <!-- <li class="discount-item">
      <div class="discount-image-bg">
        <img src="./images/image2.png" alt="" class="discount-image" />
      </div>
      <div class="discount-info">
        <h3 class="discount-name">Apricot</h3>
        <div class="discount-price-btn-wrapper">
          <p class="discount-price">$0.79</p>
          <button type="button" class="button discount-btn">
            <svg class="discount-icon">
              <use href="./images/icons.svg#icon-shopping-cart"></use>
            </svg>
          </button>
        </div>
      </div>
      <img
        src="./images/discount.png"
        alt="discount sticker"
        class="discount-sticker"
      />
    </li>
    <li class="discount-item">
      <div class="discount-image-bg">
        <img src="./images/image2.png" alt="" class="discount-image" />
      </div>
      <div class="discount-info">
        <h3 class="discount-name">Apricot</h3>
        <div class="discount-price-btn-wrapper">
          <p class="discount-price">$0.79</p>
          <button type="button" class="button discount-btn">
            <svg class="discount-icon">
              <use href="./images/icons.svg#icon-shopping-cart"></use>
            </svg>
          </button>
        </div>
      </div>
    </li> -->
  </ul>
</section>
