<section class="container">
  <form>
    <p class="filters_text">Filters:</p>
    <div class="wrapper-inputs">
      <label for="search"></label>
      <div class="wrapper_search">
        <input
          placeholder="Search for anything"
          id="search"
          class="filter"
          name="search"
          type="text"
        />
        <button class="search_btn" type="button">
          <svg width="20" height="20">
            <use href="./images/icons.svg#icon-search"></use>
          </svg>
        </button>
      </div>
      <label for="categories"></label>
      <select id="categories" name="categories"></select>
    </div>
  </form>
  <div class="wrapper_card"></div>
</section>
