<footer class="footer-section">
  <div class="footer-container container">
    <div class="footer-main-row">
      <div class="footer-logo-socials">
        <a
          class="footer-logo-box link"
          href="./index.html"
          target="_blank"
          aria-label="footer-logo"
          rel="noopener norefferer"
          role="link" aria-label="icon"
        >
          <div role="link" aria-label="icon" class="footer-logo-link link">
            <svg class="footer-logo-icon">
              <use href="./images/icons.svg#icon-logo"></use>
            </svg>
          </div>
          <span class="footer-logo-text">Food Boutique</span>
        </a>
        <ul class="footer-socials-list">
          <li class="socials-item">
            <a
              href="https://www.facebook.com/goITclub/"
              target="_blank"
              aria-label="facebook"
              rel="noopener norefferer"
              class="footer-socials-link"
            >
              <svg class="socials-icon">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="socials-item">
            <a
              href="https://www.instagram.com/goitclub/"
              target="_blank"
              aria-label="instagram"
              rel="noopener norefferer"
              class="footer-socials-link"
            >
              <svg class="socials-icon">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="socials-item">
            <a
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
              aria-label="youtube"
              rel="noopener norefferer"
              class="footer-socials-link"
            >
              <svg class="socials-icon">
                <use href="./images/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-tab-wrapper">
        <div class="footer-slogan">
          <h2 class="footer-slogan-header">
            Discover the Variety of Flavors and Quality
          </h2>
          <p class="footer-slogan-text">
            An online store where you will find fresh, natural and delicious
            products for a healthy life and unforgettable gastronomic
            adventures.
          </p>
        </div>
        <div class="footer-form-container">
          <p class="footer-form-text">
            Subscribe and learn about new products!
          </p>
          <form class="footer-form" autocomplete="off">
            <input
              required
              type="email"
              name="useremail"
              id="useremail"
              class="footer-form-input"
              placeholder="Email"
              pattern="[A-Za-z0-9._+\-']+@[A-Za-z0-9.\-]+\.[A-Za-z]{2,}"
            />
            <button type="submit" class="button footer-form-btn">Send</button>
          </form>
        </div>
      </div>
    </div>
    <div class="footer-bottom-row">
      <p class="rights-text">Food Boutique. All rights reserved.</p>
      <div>
        <a href="#" class="policy-link link">Privacy Policy</a>
        <span class="policy-span">/</span>
        <a href="#" class="policy-link link">Terms of Service</a>
      </div>
    </div>
  </div>
</footer>
