<!-- <p>header</p> -->
<header class="header container">
  <nav class="header-navigation">
    <ul class="header-list">
      <li class="header-item first">
        <a role="link" aria-label="icon" class="header-logo-link link" href="index.html">
          <div role="link" aria-label="icon" class="icon-svg">
            <svg class="logo-icon">
              <use href="./images/icons.svg#icon-logo"></use>
            </svg>
          </div>
          <span href="" class="header-logo link">Food Boutique</span>
        </a>
      </li>

      <li class="header-item">
        <ul class="links-list">
          <li class="element-link">
            <a href="index.html" class="home-menu-link">Home</a>
          </li>
          <li class="element-link cart">
            <a href="cart.html" class="shopping-cart-link">
              <svg class="shopping-cart-icon">
                <use href="./images/icons.svg#icon-shopping-cart"></use>
              </svg>
            </a>
            <p class="cart-text">
              Cart
              <span id="cart-counter" class="cart-counter">(0)</span>
            </p>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
