<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/css/pagination.css">
  </head>
  <body>
    <div class="pagination">
      <ul>
        <li class="btn prev">
          <span>
            <svg width="24" height="24" class="icon-left">
              <use href="/src/images/icons.svg#icon-left"></use>
            </svg>
          </span>
        </li>
        <li class="numb active">
          <span>1</span>
        </li>
        <li class="numb">
          <span>2</span>
        </li>
        <li class="dots">
          <span>...</span>
        </li>
        <li class="numb">
          <span>7</span>
        </li>
        <li class="numb">
          <span>8</span>
        </li>
        <li class="btn next">
          <span>
            <svg width="24" height="24" class="icon-right">
              <use href="/src/images/icons.svg#icon-right"></use>
            </svg>
          </span>
        </li>
      </ul>
    </div>
  </body>
</html>