<section class="popular-products">
  <h2 class="popular-title">Popular products</h2>
  <!-- <div class="popular-loader-box"></div> -->
  <ul class="popular-container">
    <!-- <li class="popular-item"><div class="product-card">
            <div class="popular-product-icon"><img src="https://ftp.goit.study/img/so-yummy/ingredients/640c2dd963a319ea671e383b.png" alt=""></div>
           
            <div class="product-details">
                <p class="popular-name"> Name</p>
            <p class="popular-text">Category: <span class="popular-span popular-category">Fresh Produce</span></p>
            <div class="row">
            <p class="popular-text">Size: <span class="popular-span popular-size">16 oz</span></p>
            <p class="popular-text">Popularity: <span class="popular-span popular-size">3</span></p>
        </div>
            </div>
            <button class="add-to-bascket"><svg class="popular-bascket" width="28px" height="28px"><use href="./images/icons.svg#icon-shopping-cart"></use>
            </svg></button>
          </div></li>


        <li class="popular-item"><div class="product-card " >
            <div class="popular-product-icon"><img src="https://ftp.goit.study/img/so-yummy/ingredients/640c2dd963a319ea671e37ad.png" alt=""></div>
      
            <div class="product-details">
                <p class="popular-name"> Name</p>
                <p class="popular-text">Category: <span class="popular-span popular-category">Fresh Produce</span></p>
                <div class="row">
                <p class="popular-text">Size: <span class="popular-span popular-size">16 oz</span></p>
                <p class="popular-text">Popularity: <span class="popular-span popular-size">3</span></p>
        </div>
            </div>
            <button class="add-to-bascket"><svg class="popular-bascket" width="14px" height="14px"><use href="./images/icons.svg#icon-shopping-cart"></use>
            </svg></button>
          </div></div></li>


        <li class="popular-item"><div class="product-card">
            <div class="popular-product-icon"><img src="https://ftp.goit.study/img/so-yummy/ingredients/640c2dd963a319ea671e383b.png" alt=""></div>
       
            <div class="product-details">
                <p class="popular-name"> Name</p>
                <p class="popular-text">Category: <span class="popular-span popular-category">Fresh Produce</span></p>
                <div class="row">
                <p class="popular-text">Size: <span class="popular-span popular-size">16 oz</span></p>
                <p class="popular-text">Popularity: <span class="popular-span popular-size">3</span></p>
        </div>
            </div>
            <button class="add-to-bascket"><svg class="popular-bascket" width="14px" height="14px"><use href="./images/icons.svg#icon-shopping-cart"></use>
            </svg></button>
          </div></li>


        <li class="popular-item"><div class="product-card">
            <div class="popular-product-icon"><img src="https://ftp.goit.study/img/so-yummy/ingredients/640c2dd963a319ea671e383b.png" alt=""></div>
     
            <div class="product-details">
                <p class="popular-name"> Name</p>
                <p class="popular-text">Category: <span class="popular-span popular-category">Fresh Produce</span></p>
                <div class="row">
                <p class="popular-text">Size: <span class="popular-span popular-size">16 oz</span></p>
                <p class="popular-text">Popularity: <span class="popular-span popular-size">3</span></p>
        </div>
            </div>
            <button class="add-to-bascket"><svg class="popular-bascket" width="14px" height="14px"><use href="./images/icons.svg#icon-shopping-cart"></use>
            </svg></button>
          </div></li>

        <li class="popular-item"><div class="product-card" >
            <div class="popular-product-icon"><img src="https://ftp.goit.study/img/so-yummy/ingredients/640c2dd963a319ea671e383b.png" alt=""></div>
    
            <div class="product-details">
                <p class="popular-name"> Name</p>
                <p class="popular-text">Category: <span class="popular-span popular-category">Fresh Produce</span></p>
                <div class="row">
                <p class="popular-text">Size: <span class="popular-span popular-size">16 oz</span></p>
                <p class="popular-text">Popularity: <span class="popular-span popular-size">3</span></p>
        </div>
            </div>
            <button class="add-to-bascket"><svg class=" popular-bascket" width="14px" height="14px"><use href="./images/icons.svg#icon-shopping-cart"></use>
            </svg></button>
          </div></li> -->
  </ul>
</section>
