

<h2>Popular products</h2>
    <ul  class="popular-container">
        <li class="popular-item"><div class="product-card">
            <div class="product-icon"></div>
            <!-- Картки зображень -->
            <div class="product-details">
                <h3 class="popular-name"> Name</h3>
            <p class="popular-text">Category</p>
            <div class="row">
            <p class="popular-text">Size</p>
            <p class="popular-text">Popularity</p>
        </div>
            </div>
            <button class="add-to-bascket"><svg class="bascket" width="8" height="8"><use href="./images/icons.svg#icon-shopping-cart"></use>
            </svg></button>
          </div></li>
        <li><div class="product-card">
            <div class="product-icon"></div>
            <!-- Картки зображень -->
            <div class="product-details">
                <h3 class="popular-name"> Name</h3>
            <p class="popular-text">Category</p>
            <div class="row">
            <p class="popular-text">Size</p>
            <p class="popular-text">Popularity</p>
        </div>
            </div>
            <button class="add-to-bascket"><svg class="bascket" width="8" height="8"><use href="./images/icons.svg#icon-shopping-cart"></use>
            </svg></button>
          </div></li>
        <li><div class="product-card">
            <div class="product-icon"></div>
            <!-- Картки зображень -->
            <div class="product-details">
                <h3 class="popular-name"> Name</h3>
            <p class="popular-text">Category</p>
            <div class="row">
            <p class="popular-text">Size</p>
            <p class="popular-text">Popularity</p>
        </div>
            </div>
            <button class="add-to-bascket"><svg class="bascket" width="8" height="8"><use href="./images/icons.svg#icon-shopping-cart"></use>
            </svg></button>
          </div></li>
        <li><div class="product-card">
            <div class="product-icon"></div>
            <!-- Картки зображень -->
            <div class="product-details">
                <h3 class="popular-name"> Name</h3>
            <p class="popular-text">Category</p>
            <div class="row">
            <p class="popular-text">Size</p>
            <p class="popular-text">Popularity</p>
        </div>
            </div>
            <button class="add-to-bascket"><svg class="bascket" width="8" height="8"><use href="./images/icons.svg#icon-shopping-cart"></use>
            </svg></button>
          </div></li>
        <li><div class="product-card">
            <div class="product-icon"></div>
            <!-- Картки зображень -->
            <div class="product-details">
                <h3 class="popular-name"> Name</h3>
            <p class="popular-text">Category</p>
            <div class="row">
            <p class="popular-text">Size</p>
            <p class="popular-text">Popularity</p>
        </div>
            </div>
            <button class="add-to-bascket"><svg class="bascket" width="8" height="8"><use href="./images/icons.svg#icon-shopping-cart"></use>
            </svg></button>
          </div></li>
    </ul>

