<!-- <div class="products-loader-box"></div> -->
<ul class="wrapper_card">
  <!-- <li class="card" id="${_id}">
    <div class="bg_img">
      <img src="${img}" class="img_card" alt="${name}" />
    </div>
    <div class="text_wrapped">
      <h3 class="text_name_prod">${name}</h3>
      <div class="wrapper_info">
        <p class="text_title">Category:</p>
        <span class="text_subtitle">${category}</span>
        <p class="text_title">Size:</p>
        <span class="text_subtitle">${size}</span>
        <p class="text_title">Popularity:</p>
        <span class="text_subtitle">${popularity}</span>
      </div>
    </div>
    <div class="wrapper_price">
      <span class="text_price">${price}</span>
      <span> ${paste} </span>
    </div>
  </li> -->
</ul>
