/* :root {
  --color-main-bg: #e8e8e2;
  --color-second-bg: #6d8434;
  --third-bg: #fafafa;
  --color-text: #010101;
  --color-second-text: #a3a3a3;
  --color-btn-green-dark: #586f1f;
  --color-btn-gray: #e8e8e2;
  --color-btn-black: #010101;
} */
.cart-empty-product {
  padding: 100px 0 120px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
.cart-empty-accent {
  color: #6d8434;
}
img.cart-epmpty-img {
  width: 132px;
  height: 114px;
  margin-bottom: 28px;
}
p.cart-empty-title {
  font-size: 18px;
  line-height: 1.11;
}
.cart-empty-text {
  color: #010101b3;
  width: 379px;
  font-size: 14px;
  line-height: 1.28;
}
.cart-section {
  padding-top: 72px;
}
svg.cart-icon {
  fill: var(--color-main-bg);
  width: 18px;
  height: 18px;
}
.products-in-basket {
  display: flex;
  gap: 14px;
  align-items: center;
  margin-bottom: 29px;
}
.shopping-cart {
  background-color: var(--color-second-bg);
  display: inline-block;
  padding: 10px;
  border-radius: 50%;
}
.product-counter {
  color: var(--color-text);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16; /* 116.667% */
  text-transform: uppercase;
}
.delete-all {
  /* margin-bottom: px; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  margin-bottom: 30px;
}
.delete-all-text {
  color: var(--color-text);
  font-size: 14px;
  line-height: 1.29; /* 128.571% */
}
.delete-btn-all {
  border: none;
  background-color: transparent;
}
.icon-delete-all-product {
  fill: var(--color-btn-black);
  width: 24px;
  height: 24px;
}
.container-products-cart {
  padding-bottom: 80px;
}
.cart-product-img-container {
  width: 100px;
  height: 100px;
  padding: 18px;
  background-color: white;
  border-radius: 10px;
}
.products-item {
  display: flex;
  gap: 20px;
  padding: 30px 0;
  position: relative;
}
.products-item:first-child {
  padding-top: 6px;
}
.product-info-item :first-child > .cart-delete-btn {
  background-color: red;
  top: 4px;
}
/* .products-item:before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  max-width: 343px;
  height: 1px;
  background-color: var(--blue-font);
} */
.products-item:after {
  content: '';
  width: 325px;
  border: 1px solid rgba(1, 1, 1, 0.1);
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
}
.product-info-list {
  display: flex;
  margin-bottom: 38px;
  gap: 16px;
}
.product-info-item:first-child {
  /* margin-right: 8px; */
}
.product-info {
  max-width: 345px;
  width: 100%;
}
.cart-product-name-container {
  display: flex;
  justify-content: space-between;
}
.cart-product-name {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11; /* 111.111% */
  margin-bottom: 10px;
}
.cart-category-text,
.cart-product-size {
  color: rgba(1, 1, 1, 0.3);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17; /* 116.667% */
  display: flex;
  gap: 4px;
}
.cart-category-name,
.cart-product-size-value {
  color: var(--color-text);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17; /* 116.667% */
}
.cart-product-price {
  line-height: 1.11; /* 111.111% */
}
.icon-delete-product {
  width: 20px;
  height: 20px;
}
.cart-delete-btn {
  border: none;
  background-color: transparent;
  display: flex;
}
#my-scrollbar {
  max-width: 335px;
  width: 100%;
  height: 430px;
  overflow: auto;
}
.order {
  padding-top: 64px;
}
.order-title {
  color: var(--color-text);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16; /* 116.667% */
  text-transform: uppercase;
  margin-bottom: 40px;
}
.total-order {
  background-color: #6d84340d;
  border-radius: 8px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
}
.sum-total-product-title {
  color: var(--color-text);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11; /* 111.111% */
}
.sum-text-total-product {
  color: rgba(1, 1, 1, 0.2);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16; /* 116.667% */
}
.sum-total-product {
  color: var(--color-text);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16; /* 116.667% */
}
.form-сheckout {
  margin-bottom: 80px;
}

.form-сheckout {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.input-wrap {
  position: relative;
}
.input-text {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: rgba(1, 1, 1, 0.5);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28; /* 128.571% */
}
.form-сheckout-input {
  width: 100%;
  height: 42px;
  padding-left: 56px;
  border-radius: 30px;
  border: 1px solid rgba(1, 1, 1, 0.3);
  background-color: transparent;
  color: var(--color-text);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
}
.form-сheckout-input:focus {
  border-color: var(--color-second-bg);
  outline: none;
}
.form-сheckout-input::placeholder {
  color: rgba(232, 232, 226, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
}
.form-сheckout-btn {
  display: flex;
  width: 100%;
  padding: 12px 149px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 30px;
  background-color: var(--color-second-bg);
  color: var(--color-btn-black);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
}
.form-сheckout-btn:is(:hover, :focus) {
  color: var(--color-main-bg);
}
@media (min-width: 768px) {
  #my-scrollbar {
    max-width: 683px;
    width: 100%;
    height: 431px;
    overflow: auto;
  }

  .products-in-basket {
    margin-bottom: 23px;
  }
  .cart-section {
    padding-top: 99px;
  }
  .products-item:after {
    width: 665px;
  }
  .delete-all {
    margin-right: 30px;
  }
  .product-info {
    max-width: 555px;
  }
  .total-order {
    padding: 14px 28px;
    width: 590px;
  }
  .order {
    padding-top: 95px;
  }
  .sum-total-product {
    font-size: 32px;
    line-height: 1;
  }
  .total-order {
    margin-bottom: 40px;
  }
  .form-сheckout {
    flex-direction: row;
  }
  .input-wrap {
    max-width: 359px;
    width: 100%;
  }
  .input-text {
    font-size: 18px;
  }
  .form-сheckout-input {
    height: 100%;
    font-size: 18px;
    line-height: 1.33; /* 133.333% */
  }
  .form-сheckout {
    gap: 16px;
  }
  .form-сheckout-btn {
    color: #e8e8e2;
    font-size: 20px;
    line-height: 1.2; /* 120% */
    max-width: 215px;
    padding: 12px;
  }
}
@media (min-width: 1440px) {
  #my-scrollbar {
    max-width: 515px;
    height: 530px;
  }
  .cart-empty-product {
    padding: 150px 0;
  }
  img.cart-epmpty-img {
    margin-bottom: 40px;
    width: 164px;
    height: 140px;
  }
  p.cart-empty-title {
    margin-bottom: 14px;
    font-size: 20px;
  }
  .cart-empty-text {
    color: rgba(1, 1, 1, 0.7);
    font-size: 18px;
    line-height: 1.33; /* 133.333% */
    width: 387px;
  }
  .container-products-cart {
    max-width: 515px;
    width: 100%;
    padding-bottom: 100px;
  }
  .delete-all {
    margin-right: 8px;
  }
  .shopping-cart {
    padding: 12px;
  }
  .product-counter {
    font-size: 32px;
    line-height: 1; /* 100% */
  }
  .product-cart {
    display: flex;
  }
  .product-info {
    max-width: 345px;
  }
  .delete-all-text {
    font-size: 16px;
    line-height: 1.25;
  }
  .cart-product-name {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 10px;
  }
  .products-item:after {
    width: 495px;
  }
  .order {
    padding-top: 55px;
    padding-left: 135px;
  }
  .order-title {
    font-size: 32px;
    line-height: 1; /* 100% */
  }
  .sum-total-product-title {
    font-size: 20px;
    line-height: 1.2;
  }
  .input-text {
    line-height: 1.33;
  }
  .products-item {
    gap: 40px;
    padding: 40px 0;
  }
  .cart-category-name,
  .cart-product-size-value {
    font-size: 14px;
    line-height: 1.29; /* 128.571% */
  }
  .cart-product-img-container {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    padding: 24px;
  }
  .product-info-list {
    margin-bottom: 46px;
  }
  .cart-product-price {
    font-size: 20px;
    line-height: 1.2; /* 120% */
  }
}
