/* :root {
  --color-main-bg: #e8e8e2;
  --color-second-bg: #6d8434;
  --third-bg: #fafafa;
  --color-text: #010101;
  --color-second-text: #a3a3a3;
  --color-btn-green-dark: #586f1f;
  --color-btn-gray: #e8e8e2;
  --color-btn-black: #010101;
} */
.cart-section {
  padding-top: 72px;
}
svg.cart-icon {
  fill: var(--color-main-bg);
  width: 18px;
  height: 18px;
}
.products-in-basket {
  display: flex;
  gap: 14px;
  align-items: center;
  margin-bottom: 22px;
}
.shopping-cart {
  background-color: var(--color-second-bg);
  display: inline-block;
  padding: 10px;
  border-radius: 50%;
}
.product-counter {
  color: var(--color-text);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16; /* 116.667% */
  text-transform: uppercase;
}
.delete-all {
  /* margin-bottom: px; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  margin-bottom: 30px;
}
.delete-all-text {
  color: var(--color-text);
  font-size: 14px;
  line-height: 1.29; /* 128.571% */
}
.delete-btn {
  display: inline-block;
  cursor: pointer;
}
.icon-delete-all-product {
  fill: var(--color-btn-black);
  width: 24px;
  height: 24px;
}
.cart-product-img-container {
  width: 100px;
  height: 100px;
  padding: 18px;
  background-color: white;
  border-radius: 10px;
}
.products-item {
  display: flex;
  gap: 20px;
  padding: 30px 0;
  position: relative;
}
.products-item:first-child {
  padding-top: 15px;
}
.products-item:before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  max-width: 343px;
  height: 1px;
  background-color: var(--blue-font);
}
.ingridient-wrapper:after {
  content: '';
  width: 100%;
  border: 1px solid rgba(5, 5, 5, 0.1);
  display: block;
  position: absolute;
  bottom: -6px;
  left: 0;
}
.product-info-list {
  display: flex;
  margin-bottom: 38px;
}
.product-info-item:first-child {
  margin-right: 8px;
}
.cart-product-name {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11; /* 111.111% */
  margin-bottom: 10px;
}
.cart-category-text,
.cart-product-size {
  color: rgba(1, 1, 1, 0.3);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17; /* 116.667% */
  display: flex;
  gap: 4px;
}
.cart-category-name,
.cart-product-size-value {
  color: var(--color-text);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17; /* 116.667% */
}
.cart-product-price {
  line-height: 1.11; /* 111.111% */
}
.icon-delete-product {
  width: 20px;
  height: 20px;
}
.cart-delete-btn {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 4px;
  right: 10px;
}
#my-scrollbar {
  max-width: 335px;
  width: 100%;
  height: 426px;
  overflow: auto;
}
.order {
  padding-top: 80px;
}
.order-title {
  color: var(--color-text);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16; /* 116.667% */
  text-transform: uppercase;
  margin-bottom: 40px;
}
.total-order {
  background-color: #6d84340d;
  border-radius: 8px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
}
.sum-total-product-title {
  color: var(--color-text);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11; /* 111.111% */
}
.sum-text-total-product {
  color: rgba(1, 1, 1, 0.2);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16; /* 116.667% */
}
.sum-total-product {
  color: var(--color-text);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16; /* 116.667% */
}
.form-сheckout {
  margin-bottom: 80px;
}

.form-сheckout {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.input-wrap {
  position: relative;
}
.input-text {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: rgba(1, 1, 1, 0.5);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28; /* 128.571% */
}
.form-сheckout-input {
  width: 100%;
  height: 42px;
  padding-left: 56px;
  border-radius: 30px;
  border: 1px solid rgba(1, 1, 1, 0.3);
  background-color: transparent;
  color: var(--color-text);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
}
.form-сheckout-input:focus {
  border-color: var(--color-second-bg);
  outline: none;
}
.form-сheckout-input::placeholder {
  color: rgba(232, 232, 226, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
}
.form-сheckout-btn {
  display: flex;
  width: 100%;
  padding: 12px 149px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 30px;
  background-color: var(--color-second-bg);
  color: var(--color-btn-black);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
}
.form-сheckout-btn:is(:hover, :focus) {
  color: var(--color-main-bg);
}
@media (min-width: 768px) {
  #my-scrollbar {
    max-width: 668px;
    width: 100%;
    height: 426px;
    overflow: auto;
  }
}
