.discount-loader-box {
  width: 335px;
  height: 484px;
  background-color: transparent;
}
.discount-section {
  /* display: none; */
  display: flex;
  width: 335px;
  height: 484px;
  flex-direction: column;
  gap: 20px;
  /* margin-bottom: 80px; */
  justify-content: start;
  align-items: start;
}
.discount-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
}
.discount-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.discount-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  width: 335px;
  height: 232px;
  border-radius: 15px;
  background-color: var(--third-bg);
  border: none;
  cursor: pointer;
}
.discount-image-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  border-radius: 10px;
  background-color: var(--color-main-bg);
}
.discount-image {
  width: 114px;
  height: 114px;
}
.discount-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
}
.discount-name,
.discount-price {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
}
.discount-price-btn-wrapper {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
.discount-btn {
  display: inline-flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: var(--color-second-bg);
  border: none;
  color: var(--color-main-bg);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.discount-btn:is(:hover, :focus) {
  background-color: var(--color-btn-green-dark);
}
.discount-icon {
  fill: currentColor;
  width: 18px;
  height: 18px;
}

.discount-item {
  position: relative;
}
.discount-sticker {
  position: absolute;
  top: 3px;
  right: 10px;
  width: 60px;
  height: 60px;
}

@media (min-width: 768px) {
  .discount-title {
    font-size: 28px;
    line-height: 1.14;
  }
  .discount-loader-box {
    width: 704px;
    height: 232px;
  }
  .discount-list {
    display: flex;
    width: 704px;
    height: 232px;
    /* display: none; */
    flex-direction: row;
    gap: 32px;
    flex-wrap: nowrap;
  }
  .discount-name,
  .discount-price {
    font-size: 20;
    line-height: 1.2;
  }
}
@media (min-width: 1440px) {
  .discount-loader-box {
    width: 275px;
    height: 484px;
  }
  .discount-list {
    width: 275px;
    height: 484px;
    /* display: none; */
    flex-direction: column;
    gap: 20px;
    justify-content: start;
  }
  .discount-item {
    width: 275px;
  }

  .discount-image {
    width: 105px;
    height: 105px;
  }
}
