.filters-section {
  padding-bottom: 40px;
}
.filter {
  width: 100%;
  height: 48px;
  border-radius: 30px;
  border: 1px solid rgba(1, 1, 1, 0.3);
  padding-left: 20px;
  color: var(--color-text);
  font-family: 'Neue Montreal';
  font-size: 14px;
  line-height: 1.2;
  background-color: transparent;
}

.filter::placeholder {
  color: var(--color-text);
  font-family: 'Neue Montreal';
  font-size: 14px;
  line-height: 1.2;
}

.filter:focus-visible {
  outline: none;
}
.filter:focus {
  border-color: var(--color-second-bg);
}

.wrapper-inputs {
  display: flex;
  flex-wrap: wrap;
  /* margin-bottom: 40px; */
}

.filters_text {
  color: var(--color-text-transparent);
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 8px;
}

.wrapper_search {
  position: relative;
  width: 100%;
  margin-bottom: 12px;
}

.search_btn {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 20px;
  background-color: transparent;
  border: none;
  top: 50%;
  transform: translateY(-50%);
}
#categories {
  display: none;
}

.ss-main {
  border-radius: 30px;
  background-color: transparent;
  height: 48px;
  border: 1px solid rgba(1, 1, 1, 0.3);
  padding-left: 20px;
}

.ss-main .ss-arrow {
  margin-right: 15px;
}

.ss-main .ss-values .ss-single {
  margin-left: 0;
}

.ss-content .ss-list .ss-option:not(.ss-disabled).ss-selected {
  background-color: #fff;
}

.ss-content.ss-open-below {
  transform: translateY(8px);
  border-radius: 15px;
}

.ss-main.ss-open-below {
  border-radius: 30px;
}

.ss-content {
  border-radius: 15px;
}

.ss-content .ss-list {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 20px;
}

.ss-content .ss-list .ss-option {
  padding: 0;
  color: rgba(1, 1, 1, 0.5);
  font-family: 'Neue Montreal';
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}

.ss-content .ss-list .ss-option:not(:last-child) {
  padding-bottom: 8px;
}

.ss-main:focus {
  box-shadow: none;
}

.ss-main .ss-values .ss-placeholder {
  color: var(--color-text);
  font-family: 'Neue Montreal';
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}

.ss-content .ss-list .ss-option:hover {
  background-color: #fff;
  color: var(--color-text);
}

.ss-main.ss-open-above {
  border-radius: 30px;
}

.ss-content .ss-list .ss-option:not(.ss-disabled).ss-selected {
  color: var(--color-text);
}

.notfound_wrapper {
  width: 261px;
  margin: 100px auto 180px auto;
}

.notfound_title {
  color: var(--color-btn-black);
  font-size: 18px;
  line-height: 1.11;
  margin-bottom: 14px;
  text-align: center;
}

.notfound_title span {
  color: var(--color-second-bg);
}

.notfound_subtitle {
  color: var(--color-text-transparent-second);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.33;
  text-align: center;
}

.hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  .wrapper_search {
    max-width: 269px;
    margin-right: 8px;
  }

  .select_categories {
    max-width: 189px;
  }

  .filter {
    height: 52px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3;
  }

  .filter::placeholder {
    font-size: 18px;
    line-height: 1e;
  }

  .ss-main {
    width: 189px;
    height: 52px;
  }

  .ss-main .ss-values .ss-placeholder {
    font-size: 18px;
    line-height: 1.3;
  }

  .ss-content .ss-list .ss-option {
    font-size: 18px;
    line-height: 1.3;
  }

  .notfound_wrapper {
    width: 367px;
    margin-top: 150px;
  }

  .notfound_title {
    font-size: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .notfound_wrapper {
    margin-top: 200px;
  }
}
