/*!------------ MOBILE-------------- */
@media screen and (min-width: 428px) {
  
  .header {
    display: flex;
    padding-top: 18px;
    /* padding-right: 20px;
    padding-left: 20px; */
    justify-content: space-between;
    align-items: center;
  }
  
  .header-navigation {
    display: flex;
    gap: 8px;
    text-align: center;
    display: flex;
    align-items: center;
  }
  .header-logo-img {
    width: 28px;
    height: 28px;
    border-radius: 50px;
    background-color: var(--color-second-bg);
    fill: var(--color-main-bg);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-logo-img:focus,
  .header-logo-img:hover {
  background-color: var(--color-main-bg);
  fill: var(--color-second-bg);
}


  .logo-icon {
    width: 16px;
    height: 16px;
  }
  .header-logo {
    color: var(--color-text);
    font-weight: 900;
    font-family: 'Fonts Pring';
    font-size: 18px;
    line-height: 1.11px;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-navigation:focus,
  .header-navigation:hover{
    background-color: var(--color-second-bg);
    border-radius: 9px;
    padding-left: 15px;
    padding-top: 16px;
    padding-right:21px ;
    padding-bottom: 17px;
  }
  .header-buttons {
    margin-left: auto;
    
  }
  .buttons-list {
    display: flex;
    gap: 6px;

  }
  
  .home-menu-btn {
    display: flex;
    padding: 10px 20px;
   
    border-radius: 30px;
    border: none;
    cursor: pointer;
    background-color: var(--color-second-bg);
    color: var(--color-main-bg);
    font-family: 'Neue Montreal', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.28571; /* 128.571% */
  }
  .shopping-cart-btn {
    border-radius: 50px;
    fill: var(--color-main-bg);
    border: none;
    cursor: pointer;
    background-color: var(--color-second-bg);
    display: flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 38px;
    height: 38px;
  }
  .shopping-cart-icon {
    width: 14px;
    width: 14px;
  }
  .cart-text {
    display: none;
  }
  
 
}

@media screen and (min-width: 767px) {

    .header {
        display: flex;
        padding-top: 24px;
    }
    .header-logo-img {
        width: 32px;
        height: 32px;
    }
    .header-logo {
        font-size: 24px;
        line-height: 1; 
    }
    .logo-icon {
        width: 20px;
        height: 20px;
      }
      .home-menu-btn {
        font-size: 18px;
        line-height: 1.33;
        padding: 12px 28px;
      }
      .shopping-cart-icon {
        width: 18px;
        width: 18px;
      }
      .shopping-cart-btn {
        padding: 10px;
      }
      .cart-text {
        display: flex;
        color: var(--color-text);

font-size: 18px;

line-height: 1.33; 
text-transform: uppercase;
      }
      .header-buttons {
       gap:14px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .buttons-list {
        
        align-items: center;
    }
       
}

