@import 'npm:modern-normalize/modern-normalize.css';
@import 'default.css';
@import 'reset.css';
@import 'header.css';
@import 'hero.css';
@import 'filters.css';
@import 'products-list.css';
/* @import 'pagination.css'; */
@import 'popular-products.css';
@import 'discount-products.css';
@import 'footer.css';
@import 'cart.css';
@import 'modal.css';
