.pagination {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  font-family: 'Neue Montreal', sans-serif;
  align-items: center;
  justify-content: center;
}
.pagination ul {
  display: flex;
}
.pagination ul li {
  display: flex;
  color: #a3a3a3;
  list-style: none;
  line-height: 20px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}
.pagination ul li.numb {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 0 8px;
}
.pagination ul li.dots {
  font-size: 14px;
  cursor: default;
}
.pagination ul li.btn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  padding: 0;
  background: #fafafa;
  color: #a3a3a3;
}
.pagination ul li.prev {
  border-radius: 60px;
  padding: 8px;
  margin-right: 80px;
}
.pagination ul li.next {
  border-radius: 60px;
  padding: 8px;
  margin-left: 80px;
}
.pagination ul li.active,
.pagination ul li.numb:hover,
.pagination ul li.btn:hover {
  background: #6d8434;
  color: #fff;
}
